<header class="sticky right-0 left-0 top-0 bg-white z-10">
  <div class="container flex justify-between items-center py-4 lg:py-3">
    <nav class="lg:flex-1">
      <!-- Drawer Navigation for Small Screens -->
      <p-drawer
        styleClass="!w-full md:!w-80 lg:!w-[30rem]"
        [transitionOptions]="'200ms'"
        header="E-COMMERCE"
        [(visible)]="visible"
      >
        <ul class="flex flex-col gap-4">
          @for (link of mainLinks; track $index) {
          <li>
            <a
              [routerLink]="link.path"
              (click)="visible = false"
              class="link-underline"
              routerLinkActive="underline underline-offset-6"
              >{{ link.label }}</a
            >
          </li>
          }
        </ul>
      </p-drawer>

      <!-- Drawer Button for Small Screens -->
      <button (click)="visible = true" class="flex lg:hidden">
        <i class="pi pi-bars" style="font-size: 1.2rem"></i>
      </button>

      <!-- Desktop Navigation -->
      <ul class="flex gap-4 max-lg:hidden">
        @for (link of mainLinks; track $index) {
        <li>
          <a
            [routerLink]="link.path"
            class="link-underline"
            routerLinkActive="underline underline-offset-6"
            >{{ link.label }}</a
          >
        </li>
        }
      </ul>
    </nav>

    <!-- Logo -->
    <a routerLink="/">
      <h1
        class="font-bold uppercase text-lg leading-none max-lg:ml-3"
        title="Home"
      >
        E-commerce
      </h1>
    </a>

    <!-- User/Icons Navigation -->
    <nav class="flex-1 flex items-center justify-end p-1">
      <ul class="flex items-center gap-4">
        @for (link of userNavLinks; track $index) {

        <li class="max-lg:hidden">
          <a
            [routerLink]="link.path"
            class="link-underline"
            routerLinkActive="underline underline-offset-6"
          >
            {{ link.label }}
            @if (link.label === 'Bag') { (2) }
          </a>
        </li>

        <li class="lg:hidden">
          <a class="relative flex" [routerLink]="link.path" [title]="link.path">
            <i
              class="relative pi"
              [class]="link.icon"
              style="font-size: 1.2rem"
            ></i>
            @if (link.path === 'cart') {
            <span
              class="absolute text-[8px] font-semibold top-2/4 left-2/4 -translate-x-1/2 -translate-y-1/4 leading-4"
            >
              9
            </span>
            }
          </a>
        </li>
        }
      </ul>
    </nav>
  </div>
</header>
