<div
  class="relative grid grid-cols-1 gap-1 animate-fadein"
  [ngClass]="{ 'grid-cols-2 md:grid-cols-1 gap-2 md:gap-1': isCartProduct }"
>
  <!-- Product Image -->
  <a [routerLink]="'/products-details/' + product._id" class="aspect-[5/7]">
    <img
      [src]="product.imageCover"
      class="w-full h-full object-cover"
      width="300"
      height="411"
      [alt]="product.title"
    />
  </a>

  <!-- Product Details -->
  <div
    class="text-xs w-full sm:text-sm font-medium"
    [ngClass]="{ 'max-md:text-sm': isCartProduct }"
  >
    <div
      class="flex justify-between"
      [ngClass]="{ 'max-md:flex-col-reverse max-md:gap-4': isCartProduct }"
    >
      <!-- Product Title and Price -->
      <div class="pb-2 md:p-1 md:pt-0">
        <a
          [routerLink]="'/products-details/' + product._id"
          class="hover:underline underline-offset-4 decoration-1"
          [title]="product.title"
        >
          {{ product.title.split(" ").slice(0, 3).join(" ") }}
        </a>

        @if (isCartProduct) {
        <p class="font-bold">EGP {{ CartProductPrice }}</p>
        <p class="mt-4 md:mt-1">Qty: {{ CartProductCount }}</p>
        } @else {
        <p class="font-bold">EGP {{ product.price }}</p>
        }
      </div>

      <!-- Action Buttons -->
      <div [ngClass]="{ 'flex gap-1 ml-auto': isCartProduct }">
        @if (isFavoriteProduct && removeProduct) {
        <p-button
          icon="pi pi-heart-fill"
          class="absolute top-[2px] right-[2px]"
          [rounded]="true"
          [text]="true"
          [loading]="removeIsLoading && isClickedId === product._id"
          (onClick)="removeProduct(product._id)"
        />
        } @else {
        <p-button
          icon="pi pi-heart"
          class="absolute top-[2px] right-[2px]"
          [rounded]="true"
          [text]="true"
          [loading]="addToFavoritesIsLoading"
          (onClick)="addToFavorites(product._id)"
        />
        } @if (isCartProduct && removeProduct) {
        <p-button
          icon="pi pi-trash"
          class="max-md:mr-12 max-md:mt-[2px]"
          [rounded]="true"
          [text]="true"
          [loading]="removeIsLoading && isClickedId === product._id"
          (onClick)="removeProduct(product._id)"
        />
        }
        <!-- Add to Cart Button -->
        @if (!isCartProduct) {
        <p-button
          icon="pi pi-shopping-bag"
          [rounded]="true"
          [text]="true"
          [loading]="addToCartIsLoading"
          (onClick)="addToCart(product._id)"
        />
        }
      </div>
    </div>
  </div>
</div>
