<main>
  <section class="">
    <div
      class="container before:absolute before:inset-0 before:bg-black/20 text-center bg-landing h-[calc(100vh-57px)] bg-cover bg-top flex flex-col items-center justify-center gap-3"
    >
      <p class="text-primary-contrast font-serif text-7xl opacity-90">
        THE COAT EDIT
      </p>
      <a
        routerLink="/products"
        class="text-primary-contrast uppercase text-xs font-semibold tracking-wider hover:underline hover:underline-offset-6 decoration-1 cursor-pointer opacity-90"
      >
        DESCOVER MORE
      </a>
    </div>
  </section>
</main>
