<section
  class="container text-center flex flex-col items-center justify-center gap-6 mt-6"
>
  <p class="font-semibold text-sm">We’re sorry, that page doesn’t exist</p>
  <p class="text-xs">
    Ready to browse our collections and discover the astounding trends of the
    moment?
  </p>
  <!-- <img src="/404.svg" alt="404" width="250" /> -->

  <a
    routerLink="/"
    class="text-xs font-semibold tracking-wider underline underline-offset-4 decoration-1 cursor-pointer opacity-90"
  >
    Back to home</a
  >
</section>
