<section
  class="container text-center flex flex-col items-center justify-center gap-6 mt-6"
>
  <p class="font-semibold text-sm">
    Oops! The page you're looking for can't be found.
  </p>
  <p class="text-xs">
    But don’t worry, you can explore our collections and discover the latest
    trends we know you’ll love!
  </p>
  <!-- <img src="/404.svg" alt="404" width="250" /> -->

  <a
    routerLink="/"
    class="text-xs font-semibold tracking-wider underline underline-offset-4 decoration-1 cursor-pointer opacity-90"
  >
    Go back to Home</a
  >
</section>
