<p-steps
  styleClass="container lg:w-3/4 text-sm m-auto mt-6"
  [model]="items"
  [activeIndex]="steps - 1"
  [readonly]="true"
/>

<div class="container flex justify-center items-center mt-6 mx-auto">
  <div class="w-96">
    <p class="text-sm mb-4">{{ inputDescription }}</p>

    <form class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="submit()">
      @for (inputField of inputsData; track $index) {
      <div class="flex flex-col gap-1">
        @if (inputField.type !== 'otp') {
        <p-floatlabel variant="in" class="text-sm">
          @if (inputField.type === 'password') {
          <p-password
            inputStyleClass="w-full"
            styleClass="w-full"
            autocomplete="current-password"
            [inputId]="inputField.name"
            [formControlName]="inputField.name"
            [feedback]="false"
            [toggleMask]="true"
          >
          </p-password>
          } @else {
          <input
            pInputText
            class="w-full"
            [id]="inputField.name"
            [type]="inputField.type"
            autocomplete="on"
            [formControlName]="inputField.name"
          />
          }
          <label [for]="inputField.name">{{ inputField.label }}</label>
        </p-floatlabel>
        } @if (inputField.type === 'otp') {
        <p-inputotp
          size="large"
          [length]="6"
          [formControlName]="inputField.name"
          class="w-full justify-between"
        />
        }

        <app-form-field-error-message
          [form]="form"
          [controlName]="inputField.name"
        />
      </div>
      }

      <p-button
        [loading]="isLoading"
        [label]="buttonLabel"
        type="submit"
        size="large"
        styleClass="w-full"
        variant="outlined"
      />
    </form>

    <p class="text-sm block text-center mt-4">
      @if (steps === 1) { I remember now! } @else { Something went wrong? } @if
      (steps === 1) {
      <a routerLink="/login" class="font-semibold underline underline-offset-4">
        Login
      </a>
      } @else {
      <span
        class="font-semibold underline underline-offset-4 cursor-pointer"
        (click)="clearData()"
        >Resend email</span
      >
      }
    </p>
  </div>
</div>
